# 파이썬 데이터 객체

##   숫자형 (Numerics)

In [1]:
a = 123

In [2]:
type(a)

int

In [3]:
b = 1.2

In [4]:
type(b)

float

In [5]:
a + b

124.2

In [6]:
b =111.2

In [7]:
a + b

234.2

##  문자열 (Strings) 자료형

In [8]:
a = "Python"
a

'Python'

In [9]:
b = 'is good'
b

'is good'

문자열 안에 작은 따옴표나 큰 따옴표를 포함시키고 싶을 때

In [10]:
food = "Python's favorite food is perl"
food

"Python's favorite food is perl"

In [11]:
# food = 'Python's favorite food is perl'

In [12]:
say = '"Python is very easy." he says'
say

'"Python is very easy." he says'

여러줄인 문자열을 변수에 대입하고 싶을 때

In [13]:
multiline = '''Life is too short
You need python'''
multiline

'Life is too short\nYou need python'

In [14]:
print(multiline)

Life is too short
You need python

문자열 연산하기

In [15]:
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

In [16]:
a = "Python"
a * 2

'PythonPython'

In [17]:
a = 'Life is too short'
len(a)

17

문자열 인덱싱(indexing: 지정하기)과 슬라이싱(slicing:잘라내기)

In [18]:
a = "Life is too short, You need Python"
a[3]                                     # 파이썬에서는 첫번째 자리를 0부터 시작한다.

'e'

In [19]:
a[0]

'L'

In [20]:
a[1]

'i'

In [21]:
a[-1]        # -은 뒤에서부터 읽기 시작한다.

'n'

In [22]:
a[-2]

'o'

In [23]:
a[0:4]      # 0부터 4미만까지 즉 끝 번호는 포함하지 않는다.

'Life'

In [24]:
a[:4]

'Life'

In [25]:
a[5:7]

'is'

In [26]:
a[19:]

'You need Python'

In [27]:
a[:]

'Life is too short, You need Python'

#### 문자열을 immutable이다. 따라서 일부 값을 변경할 수 없다.

In [28]:
# a[0] = K

문자열 포매팅: 문자열 안에 어떤 값을 삽입하는 방법

In [29]:
"I eat %d apples."% 3

'I eat 3 apples.'

In [30]:
"I eat %s apples." % "five"

'I eat five apples.'

f문자열 포매팅: 파이썬 3.6 버전 이후 가능해짐

In [31]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나의 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나의 나이는 30입니다.'

In [32]:
f'나는 내년이면 {age + 1}살이 됩니다.'

'나는 내년이면 31살이 됩니다.'

문자열 관련 메서드

In [33]:
a = "hobby"
a.count('b')     # 문자 개수 세기

2

In [34]:
a = "Life is too short"
a.index('t')

8

In [35]:
",".join('abcd')    # 문자열 삽입하기

'a,b,c,d'

In [36]:
a = 'hi'
a.upper()    # 대문자로 바꾸기

'HI'

In [37]:
a = "HI"
a.lower()

'hi'

In [38]:
a = "Life is too short"
a.replace("Life", "Your leg")    # 문자열 바꾸기

'Your leg is too short'

In [39]:
a = "Life is too short"
a.split()    # 공백을 기준으로 문자열 나눔, 결과를 리스트로 반환함

['Life', 'is', 'too', 'short']

In [40]:
b = "a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']

## 논리형 (bool) 데이터 객체

In [41]:
a = True
b = False

In [42]:
type(a)

bool

In [43]:
1 == 1

True

In [44]:
2 < 1

False

In [45]:
bool('Python')

True

In [46]:
bool('')

False

In [47]:
bool([1, 2, 3])

True

In [48]:
bool([])

False

In [49]:
bool(1)

True

In [50]:
bool(0)

False

In [51]:
bool(-1)

True

In [52]:
bool(None)

False

##  리스트(list) 자료형

리스트는 여러 요소(elements)를 나타낼 수 있는 자료구조. 대괄호[ ] 안에 ,로 구분하여 나타낸다.

In [53]:
odd = [1, 3, 5, 7, 9]
odd

[1, 3, 5, 7, 9]

In [54]:
type(odd)

list

In [55]:
c = ['Life', 'is', 'too', 'short']     # 리스트는 문자열을 요소값을 가질 수 있다.
c

['Life', 'is', 'too', 'short']

In [56]:
d = [1, 2, 'Life', 'is']     # 리스트는 다른 자료형태 (numeric, string)을 모두 표현할 수 있다.
d

[1, 2, 'Life', 'is']

In [57]:
e = [1, 2, ['Life', 'is']]  # 리스트는 내부 항목으로 리스트를 포함할 수 있다.
e

[1, 2, ['Life', 'is']]

리스트의 인텍싱과 슬라이싱

In [58]:
a = [1, 2, 3]
a

[1, 2, 3]

In [59]:
a[0]     # indexing 첫번째 요소는 0부터 시작한다.

1

In [60]:
a[-1]      # - 는 뒤에서 부터 시작하며 -1은 마지막 요소를 의미한다.

3

In [61]:
a = [1, 2, 3, ['a', 'b', 'c']]
a

[1, 2, 3, ['a', 'b', 'c']]

In [62]:
a[0]

1

In [63]:
a[3]

['a', 'b', 'c']

In [64]:
a[3][0]     # 리스트의 4번째 요소가 리스트 이므로, 이 리스트의 첫번째 요소를 추출하게 된다.

'a'

In [65]:
a = [1, 2, 3, 4, 5]
a[:2]    # 슬라이싱은 :로 표현하면 0번째 요소부터 3번째 미만 즉 2번째 요소 까지 추출한다.

[1, 2]

In [66]:
a[2:]

[3, 4, 5]

리스트 연산하기

In [67]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b            # + 는  2개의 리스트를 합치는 역할을 한다. (element별 더하기 연산이 아니다.)

[1, 2, 3, 4, 5, 6]

In [68]:
a * 3      # *는 리스트를 반복하는 것을 의미한다.

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [69]:
len(a)     # len() 함수는 리스트의 개수를 의미한다.

3

리스트의 수정과 삭제

In [70]:
a = [1, 2, 3]
a

[1, 2, 3]

In [71]:
a[2] = 4
a

[1, 2, 4]

In [72]:
del a[2]    # del keyword를 이용하여 객체를 삭제할 수 있다.
a

[1, 2]

In [73]:
a = [1, 2, 3, 4, 5]
del a[2:]
a

[1, 2]

In [74]:
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [75]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [76]:
a = [1, 2, 3]
a.insert(0,4)     # a[0] 위치에 4값을 추가함
a

[4, 1, 2, 3]

In [77]:
a.insert(3,5)    # a[3] 위치에 5를 추가함
a

[4, 1, 2, 5, 3]

In [78]:
a = [1, 2, 3]
a = a * 2
a

[1, 2, 3, 1, 2, 3]

In [79]:
a.remove(3)     # 리스트에서 나오는 첫번째 3을 삭제함
a

[1, 2, 1, 2, 3]

In [80]:
a = [1, 2, 3]
a.pop(1)     # a[1] 위치의 값을 보여주고 이를 리스트에서 삭제함

2

In [81]:
a

[1, 3]

In [82]:
a.pop()

3

In [83]:
a

[1]

In [84]:
a = [1, 2, 3]
a.extend([4,5])    # [4,5]리스트의 각 element 들이 추가된다.
a

[1, 2, 3, 4, 5]

In [85]:
a = [1, 2, 3, 1]
a.count(1)     # 리스트에 포함된 요소 1의 개수를 세기

2

##   튜플(tuple) 자료형

리스트와 달리 ( )로 둘러싼다. 튜플의 값은 변경시킬 수 없다.

In [86]:
t1 = (1, 2, 3)     # 리스트와 동일하게 여러 요소(elements)를 포함할 수 있으나 ()로 둘러싸여 있다.
t1

(1, 2, 3)

In [87]:
type(t1)

tuple

In [88]:
t2 = 1, 2, 3     # ( )로 둘러싸이지 않은 경우 튜플로 인식된다.
t2

(1, 2, 3)

In [89]:
t3 = ('a', 'b', ('ab', 'cd'))    # 튜플을 element로 받을 수 있다.
t3

('a', 'b', ('ab', 'cd'))

In [90]:
t4 = (1)

In [91]:
t4

1

In [92]:
type(t4)

int

In [93]:
t5 = (1,)

In [94]:
t5

(1,)

In [95]:
type(t5)

tuple

In [96]:
t6 = 1,

In [97]:
t6

(1,)

In [98]:
type(t6)

tuple

In [99]:
t7 = 1
t7

1

In [100]:
type(t7)

int

In [101]:
# t1 = (1, 2, 'a', 'b')
# t1[0] = "c"              # 튜플은 요소값을 변경시킬 수 없다.

##  딕셔너리(dictionary) 자료형

key와 관련된 value를 연관시킨 자료형, {key1:value1, key2:value2, ... } 형식을 사용한다.

In [102]:
dic = {'name': 'pey', 'phone':'01099998888', 'birth':'1118'}
dic

{'name': 'pey', 'phone': '01099998888', 'birth': '1118'}

In [103]:
dic['name']    # key를 이용해 value 값을 얻을 수 있다.

'pey'

In [104]:
dic['birth']

'1118'

요소값 추가하기, 삭제하기

In [105]:
a = {1:'a'}
a[2] = 'b'    # 2라는 key에 'b'값을 추가함
a

{1: 'a', 2: 'b'}

In [106]:
a['name'] = 'pey'  # 'name'이라는 key에 'pey'값을 추가함
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [107]:
a[4] = [1,2,3]
a

{1: 'a', 2: 'b', 'name': 'pey', 4: [1, 2, 3]}

In [108]:
del a[1]      # 1이라는 key 요소(element)를 삭제함
a

{2: 'b', 'name': 'pey', 4: [1, 2, 3]}

딕셔너리 관련 메서드(method)

In [109]:
a = {'name':'pey', 'phone':'01099998888', 'birth':'1118'}
a.keys()      # key 리스트 만들기 (3.0버전이후 dict_keys 리스트로 돌려준다)

dict_keys(['name', 'phone', 'birth'])

In [110]:
list(a.keys())    # dict_keys객체를 리스트로 변환

['name', 'phone', 'birth']

In [111]:
a.values()    # value 리스트 만들기

dict_values(['pey', '01099998888', '1118'])

In [112]:
a.items()    # key, value쌍을 튜블로 만들어 dict_items 리스트로 제공한다.

dict_items([('name', 'pey'), ('phone', '01099998888'), ('birth', '1118')])

In [115]:
a.get('name')     # get 메서드를 이용하여 value 값 얻기

'pey'

In [118]:
'name' in a      # 해당 key가 딕셔너리 안에 있는 지를 조사하기 (in)

True

In [119]:
'email' in a

False

##   집합(set) 자료형

집합에 관련된 것을 쉽게 처리하기 위해 만든 자료형으로 set() 함수를 사용한다.

In [120]:
s1 = set([1,2,3])    # 리스트를 입력하거나
s1

{1, 2, 3}

In [121]:
s2 = set('Hello')   # 문자열을 입력한다. 중복된 요소는 하나만 표기된다. 순서가 의미가 없다.
s2

{'H', 'e', 'l', 'o'}

In [122]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
s1 & s2         # & keyword를 사용한 교집합 연산

{4, 5, 6}

In [123]:
s1.intersection(s2)   # intersection 메소드를 이용한 교집합 연산

{4, 5, 6}

In [124]:
s1 | s2    #  합집합

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [125]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [126]:
s1 = set([1,2,3])
s1.add(4)       # add 메서드를 이용한 값 추가
s1

{1, 2, 3, 4}

In [127]:
s1.remove(4)  # remove 메서드를 이용한 특정값 제거
s1

{1, 2, 3}

In [128]:
s1.update([4,5,6])   # 여러개의 값을 추가하기 위해서는 update 메서드 이용
s1

{1, 2, 3, 4, 5, 6}